<?xml version="1.0" encoding="utf-8"?>
<phpunit
        defaultTestSuite="All"
        colors="true"
        verbose="true">
    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>
    <testsuites>
        <testsuite name="All">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
